.block-color {
    &-default {
        background-color: #CDC1B5;
    }
    &-1 {
        color: #776E65;
        background-color: #EEE4DA;
    }

    &-2 {
        color: #776E65;
        background-color: #ECE0CA;
    }

    &-3 {
        color: #fff;
        background-color: #FAB17A;
    }

    &-4 {
        color: #fff;
        background-color: #F59565
    }

    &-5 {
        color: #fff;
        background-color: #F57C5F
    }

    &-6 {
        color: #fff;
        background-color: #F6603B;
    }

    &-7 {
        color: #fff;
        background-color: #EDCE71;
    }

    &-8 {
        background-color: #EDCC63;
        color: #fff;
    }

    &-9 {
        background-color: #F9CA58;
        color: #fff;
    }

    &-10 {
        background-color: #F9CA58;
        color: #fff;
    }

    &-11 {
        background-color: #EDC832;
        color: #fff;
    }
}

